<h1 class="mt-4">The Code Center Dashboard</h1>

  <%- include('./partials/header') %>
  <p class="lead mb-3">Welcome <%= name %></p>
       
<a href="/users/logout" class="btn btn-secondary">Logout</a>